{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Listado de Usuarios {% endblock %}
{% block content %}
<div class="row mt-5">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado de Usuarios</strong></h3>
				<!-- <ul class="nav nav-pills ml-auto p-2">
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu">
                            <a href="{% url 'add_usuarios' %}" class="dropdown-item" tabindex="-1">Agregar</a>
						</div>
					</li>
				</ul> -->
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>Usuario</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
									<th>Rol</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
								{% for x in obj %}
                                <tr>
                                    <td>{{x.username}}</td>
                                    <td>{{x.first_name}}</td>
                                    <td>{{x.last_name}}</td>
                                    <td>
										{% for g in x.groups.all %}
											<span class="badge bg-dark">{{ g }}</span>
										{% endfor %}
									</td>
                                    <td>
										{% if not x.username == request.user.username %}
											<a href="#" rel="delete" class="btn btn-danger"><i class="fas fa-trash"></i></a>
										{% endif %}
									</td>
                                </tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>
{% endblock %}

{% block js %}
<script>
	function getDataU() {
		tablaU = $('#table').DataTable({
			responsive: true,
			autoWidth: false,
			destroy: true,
			deferRender: true,
			"language": {
				"sProcessing": "Procesando...",
				"sLengthMenu": "Mostrar _MENU_ registros",
				"sZeroRecords": "No se encontraron resultados",
				"sEmptyTable": "Ningún dato disponible en esta tabla",
				"sInfo": "Mostrando del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty": "Mostrand del 0 al 0 de un total de 0 registros",
				"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix": "",
				"sSearch": "Buscar:",
				"sUrl": "",
				"sInfoThousands": ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst": "<span class='fa fa-angle-double-left'></span>",
					"sLast": "<span class='fa fa-angle-double-right'></span>",
					"sNext": "<span class='fa fa-angle-right'></span>",
					"sPrevious": "<span class='fa fa-angle-left'></span>"
				},
				"oAria": {
					"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			}
		});
	};
	$(function() {
		getDataU();
		// ELIMINAR PERSONAL
		$('#table tbody').on('click', 'a[rel="delete"]', function () {

			var tr = tablaU.cell($(this).closest('td, li')).index();
			var data_status = tablaU.row(tr.row).data();

			var parameters = new FormData();
			parameters.append('action', 'delete_user');
			parameters.append('username', data_status[0]);
			submit_with_ajax(window.location.pathname,'Notificación', '¿Estas seguro de eliminar el usuario?', parameters, function () {
				toastr.success('Se ha eliminado correctamente');
				window.location.replace('/listado-de-usuarios/');
			});  

		});
	});

</script>
{% endblock %}