{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Listado de Establecimientos {% endblock %}

{% block link %}
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card mt-5">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado de Establecimientos</strong></h3>
				<ul class="nav nav-pills ml-auto p-2">

					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu">
							<button class="dropdown-item" tabindex="-1" onclick="abrir_modal_establecimiento();">Agregar</button>
						</div>
					</li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>Nombre del Establecimiento</th>
									<th>Dirección</th>
									<th>C.I Encargado</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>

<!--MODAL REGISTRAR ESTABLECIMIENTO-->
<!-- Modal -->
<div class="modal fade" id="Registrar_establecimiento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Registrar Establecimiento</h5>
				<button type="button" class="close" onclick="cerrar_modal_establecimiento();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="" method="post" id="Form_establecimiento"> {% csrf_token %}
				<input type="hidden" name="action" value="agregar_establecimiento">
				<div class="modal-body">
					<div class="card-body">
						<div class="row delete">
							<label>Nombre del Establecimiento</label>
							<input type="text" name="nombre" id="id_nombre" class="form-control" placeholder="Nombre del Establecimiento" required>
						</div>
						<!-- /.row -->
						<div class="row mt-2">
							<div class="col">
								<label>Dirección del Establecimiento</label>
								<textarea class="form-control" name="direccion" id="id_direccion" placeholder="Direccion del establecimiento" style="resize: none;" rows="4" required></textarea>
							</div>
						</div>
						<div class="row mt-2 delete">
							<div class="col">
								<label>Encargado del Establecimiento</label>
								{{encargado.encargado|add_class:'form-control'|attr:'id:id_encargado'|attr:'required'}}
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_establecimiento();">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!--MODAL DETALLES DEL ESTABLECIMIENTO-->
<!-- Modal -->
<div class="modal fade" id="Detalles_establecimiento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Detalles del Establecimiento</h5>
				<button type="button" class="close" onclick="cerrar_modal_detalle();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fas fa-signature"></i>
								<label>Nombre del Establecimiento</label><br>
							<p> <span id="nom"></span> </p>
							</div>
						</div>
						<!-- /.row -->
						<div class="row">
							<div class="col">
								<i class="fas fa-map-marked-alt"></i>
								<label>Dirección</label>
								<p id="dir"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-address-card"></i>
								<label>C.I del Encargado</label>
								<p id="ci_enc"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-signature"></i>
								<label>Nombres y Apellidos del Encargado</label>
								<p> <span id="nom_enc"></span> <span id="ape_enc"></span> </p>
							</div>
							<!-- /.col -->
							
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_detalle();">Cerrar</button>
				</div>

		</div>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'establecimiento/js_establecimiento.js' %}"></script>

<script type="text/javascript" src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/js/i18n/es.js' %}"></script>

{% endblock %}