{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Listado de Ingresos {% endblock %}
{% block link %}
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!--DATERANGEPICKER-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
<!--Jquery ui-->
<link rel="stylesheet" href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}">
{% endblock %}
{% block content %}

<div class="row mt-5">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card mt-3">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado de los ingresos de las vacunas</strong></h3>
				<ul class="nav nav-pills ml-auto p-2">

					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu" style="">
							<button class="dropdown-item" tabindex="-1" onclick="abrir_modal_ingreso();">Agregar</button>
						</div>
					</li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>Observación</th>
									<th>Fecha ingreso</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>


<!--MODAL REGISTRAR INGRESO-->
<!-- Modal -->
<div class="modal fade" id="Registrar_ingreso" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Registrar ingreso de Vacunas</h5>
				<button type="button" class="close" onclick="cerrar_modal_ingreso();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="card card-primary">
				<form action="" method="post" id="form_ingreso">{% csrf_token %}
					<input type="hidden" name="action" value="agregar_ingreso">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-8">
								<div class="card card-secondary">
									<div class="card-header">
										<h3 class="card-title"><i class="fas fa-signature"></i> Detalle de las vacunas</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label>Buscador de vacunas:</label>
											<div class="input-group">
												<select name="search" class="form-control">
													
												</select>
												<span class="input-group-append">
													<button type="button" class="btn btn-danger btn-flat"><i
															class="fas fa-times"></i></button>
												  </span>
											</div>
										</div>
										<hr>
										<table class="table table-bordered" id="tblProducts">
											<thead>
											<tr>
												<th style="width: 10%;">Eliminar</th>
												<th style="width: 45%;">Vacuna</th>
												<th style="width: 30%;">Presentación</th>
												<th style="width: 15%;">Ingreso</th>
											</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card card-secondary">
									<div class="card-header">
										<h3 class="card-title"><i class="fas fa-file-signature"></i> Datos del ingreso</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label>Fecha del ingreso:</label>
											<input type="text" name="fecha_ingreso" class="form-control fecha-modal" readonly required>
										</div>
										<div class="form-group">
											<label>Detalles del ingreso:</label>
											<textarea name="observacion" class="form-control" style="resize: none;" rows="4" placeholder="Describa el ingreso" required></textarea>
										</div>
										<div class="form-group">
											<label>Personal Responsable:</label>
											<select id="per_responsable" name="personal" class="form-control">
												<option>Seleccione al personal</option>
												{% for x in per %}
													<option value="{{x.cedula}}">{{x.cedula}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-primary btn-flat">
							<i class="fas fa-save"></i> Guardar registro
						</button>
						<a href="{% url 'list_ingresos' %}" class="btn btn-danger btn-flat">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!--MODAL DETALLES DEL INGRESO -->
<!-- Modal -->
<div class="modal fade" id="Detalles_ingreso" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Detalles del ingreso de Vacunas</h5>
				<button type="button" class="close" onclick="cerrar_modal_detalle();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fas fa-signature"></i>
								<label>Observación del Ingreso</label><br>
							<p> <span id="obs"></span></p>
							</div>
						</div>
						<!-- /.row -->
						<div class="row">
							<div class="col">
								<i class="fas fa-sort-numeric-up"></i>
								<label>Fecha del Ingreso</label>
								<p> <span id="fec"></span></p>
							</div>
						</div>
						<label for="">Detalles del Ingreso</label>
						<div class="row">
							<div class="col">
								<table id="Detalle_ingreso" class="table" style="width:100%">
									<thead>
										<tr>
											<th>Vacuna</th>
											<th>Presentación</th>
											<th>Ingresadas</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_detalle();">Cerrar</button>
				</div>

		</div>
	</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'ingresos/js_ingresos.js' %}"></script>

<script type="text/javascript" src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/js/i18n/es.js' %}"></script>

<!--DATERANGEPICKER-->
<script type="text/javascript" src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<!--jquery ui-->
<script type="text/javascript" src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
{% endblock %}