{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Listado de Salida {% endblock %}
{% block link %}
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!--DATERANGEPICKER-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
{% endblock %}
{% block content %}

<div class="row mt-5">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card mt-3">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado de las salidas de vacunas</strong></h3>
				<ul class="nav nav-pills ml-auto p-2">

					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu" style="">
							<button class="dropdown-item" tabindex="-1" onclick="abrir_modal_salida();">Agregar</button>
						</div>
					</li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>Vacuna</th>
									<th>Observación</th>
									<th>Salida</th>
									<th>Fecha Salida</th>
									<th>Personal</th>
									<th>Establecimiento</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>


<!--MODAL REGISTRAR SALIDA-->
<!-- Modal -->
<div class="modal fade" id="Registrar_salida" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Registrar Salida de Vacunas</h5>
				<button type="button" class="close" onclick="cerrar_modal_ingreso();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="card card-primary">
				<form action="" method="post" id="form_salida">{% csrf_token %}
					<input type="hidden" name="action" value="agregar_salida">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-8">
								<div class="card card-secondary">
									<div class="card-header">
										<h3 class="card-title"><i class="fas fa-signature"></i> Detalle de las vacunas</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label>Buscador de vacunas:</label>
											<div class="input-group">
												<select name="search" class="form-control">
													
												</select>
												<span class="input-group-append">
													<button type="button" class="btn btn-danger btn-flat"><i
															class="fas fa-times"></i></button>
												  </span>
											</div>
										</div>
										<hr>
										<table class="table table-bordered" id="tblProducts">
											<thead>
											<tr>
												<th style="width: 10%;">Eliminar</th>
												<th style="width: 45%;">Vacuna</th>
												<th style="width: 30%;">Presentación</th>
												<th style="width: 30%;">Disp.</th>
												<th style="width: 15%;">Salida</th>
											</tr>
											</thead>
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="card card-secondary">
									<div class="card-header">
										<h3 class="card-title"><i class="fas fa-file-signature"></i> Datos de la salida</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label>Fecha de la salida:</label>
											<input type="text" name="fecha_salida" class="form-control fecha-modal" readonly required>
										</div>
										<div class="form-group">
											<label>Detalles de la salida:</label>
											<textarea name="observacion" class="form-control" style="resize: none;" rows="3" placeholder="Describa la salida de la vacuna" required></textarea>
										</div>
										<div class="form-group">
											<label>Personal responsable:</label>
											{{form2.personal|add_class:'form-control'}}
										</div>
										<div class="form-group">
											<label>Establecimiento:</label>
											{{form2.establecimiento|add_class:'form-control'}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" class="btn btn-primary btn-flat">
							<i class="fas fa-save"></i> Guardar registro
						</button>
						<a href="{% url 'list_salida' %}" class="btn btn-danger btn-flat">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<!--MODAL DETALLES DEL INGRESO -->
<!-- Modal -->
<div class="modal fade" id="Detalles_ingreso" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Detalles de la salida de Vacunas</h5>
				<button type="button" class="close" onclick="cerrar_modal_detalle();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fas fa-signature"></i>
								<label>Nombre de la Vacuna</label><br>
							<p> <span id="nom"></span></p>
							</div>
						</div>
						<!-- /.row -->
						<div class="row">
							<div class="col">
								<i class="fas fa-sort-numeric-up"></i>
								<label>Cantidad de Vacunas Salientes</label>
								<p> <span id="ing"></span></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-file-signature"></i>
								<label>Observación de la salida</label>
								<p id="obs"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-calendar-check"></i>
								<label>Fecha de salida</label>
								<p id="fec"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-user"></i>
								<label>Personal responsable</label>
								<p> <strong>C.I:</strong> <span id="ced_per"></span>, <strong>Nombres y Apellidos:</strong> <span id="nom_per"></span> <span id="ape_per"></span>, <strong>Ocupación:</strong> <span id="ocu_per"></span></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="nav-icon fas fa-warehouse"></i>
								<label>Establecimiento receptor</label>
								<p id="est_rec"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_detalle();">Cerrar</button>
				</div>

		</div>
	</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'salida/js_salida.js' %}"></script>

<script type="text/javascript" src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/js/i18n/es.js' %}"></script>

<!--DATERANGEPICKER-->
<script type="text/javascript" src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
{% endblock %}