{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Listado de Salida {% endblock %}
{% block link %}
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!--DATERANGEPICKER-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
{% endblock %}
{% block content %}

<div class="row mt-5">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card mt-3">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado de las salidas de vacunas</strong></h3>
				<ul class="nav nav-pills ml-auto p-2">

					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu" >
							<a href="{% url 'add_salida' %}" class="dropdown-item" tabindex="-1">Agregar</a>
						</div>
					</li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>Observación</th>
									<th>Fecha Salida</th>
									<th>Personal</th>
									<th>Establecimiento</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>

<!--MODAL DETALLES DEL INGRESO -->
<!-- Modal -->
<div class="modal fade" id="Detalles_ingreso" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Detalles de la salida de Vacunas</h5>
				<button type="button" class="close" onclick="cerrar_modal_detalle();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<i class="fas fa-signature"></i>
							<label>Observación de la salida</label><br>
						<p> <span id="obs"></span></p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<i class="fas fa-user"></i>
							<label>Personal Responsable</label>
							<p id="ced"></p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<i class="nav-icon fas fa-warehouse"></i>
							<label>Establecimiento</label>
							<p id="est_rec"></p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<i class="fas fa-sort-numeric-up"></i>
							<label>Fecha de la salida</label>
							<p> <span id="fec"></span></p>
						</div>
					</div>
					<label for="">Detalles de la salida</label>
					<div class="row">
						
						<!--inicio detalles-->
						<div class="col">
							<table id="detalle_salida" class="table" style="width:100%">
								<thead>
									<tr>
										<th>Vacuna</th>
										<th>Presentación</th>
										<th>C. Salida</th>
										<th>F. Salida</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" onclick="cerrar_modal_detalle();">Cerrar</button>
			</div>

		</div>
	</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'salida/js_salida.js' %}"></script>
{% endblock %}