{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Listado de las Vacunas {% endblock %}
{% block content %}
<div class="row mt-5">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card mt-3">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado de las Vacunas</strong></h3>
				<ul class="nav nav-pills ml-auto p-2">

					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu" style="">
							<button class="dropdown-item" tabindex="-1" onclick="abrir_modal_vacunas();">Agregar</button>
						</div>
					</li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>Nombres</th>
									<th>Presentación</th>
									<th>Existencia</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>


<!--MODAL REGISTRAR VACUNAS-->
<!-- Modal -->
<div class="modal fade" id="Registrar_vacunas" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Registrar Vacunas</h5>
				<button type="button" class="close" onclick="cerrar_modal_vacunas();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="" method="post" id="form_vacunas"> {% csrf_token %}
				<input type="hidden" name="action" value="agregar_vacunas">
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
			                <label>Nombre de la Vacuna</label>
			                {{form.nombre|add_class:'form-control'|attr:'placeholder:Ingrese el nombre de la vacuna'}}
			            </div>
						<!-- /.row -->
						
						<div class="row g-2 mt-2">
			                <div class="col">
			                    <label>Presentación</label>
			                    {{form.presentacion|add_class:'form-control'|attr:'placeholder:Ingrese la presentacion'}}
			                </div>
			                <div class="col">
			                    <div class="form-group">
			                        <label>Existencia</label>
			                        {{form.existencia|add_class:'form-control'|attr:'placeholder:Ingrese la existencia'|attr:'min:0'}}
			                    </div>
			                </div>
			            </div>
			            
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_vacunas();">Cerrar</button>
					<button type="submit" class="btn btn-primary">Registrar</button>
				</div>
			</form>
		</div>
	</div>
</div>


{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'vacunas/js_vacunas.js' %}"></script>

{% endblock %}