{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Registrar Vacuna {% endblock %}

{% block content %}

<div class="card card-default mt-3">
    <div class="card-header">
         <h3 class="card-title">Registrar Vacuna</h3>
    </div>
    <form action="" method="post"> {% csrf_token %}
        <div class="card-body">
            <div class="row">
                <label>Nombre de la Vacuna</label>
                {{form.nombre|add_class:'form-control'}}
            </div>
            <!-- /.row -->
            <div class="row g-2 mt-2">
                <div class="col">
                    <label>Presentación</label>
                    {{form.presentacion|add_class:'form-control'}}
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Existencia</label>
                        {{form.existencia|add_class:'form-control'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'list_vacunas' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}