{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Listado del Personal {% endblock %}
{% block content %}
<div class="row mt-5">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado del Personal</strong></h3>
				<ul class="nav nav-pills ml-auto p-2">
					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu" style="">
							<button class="dropdown-item" tabindex="-1" onclick="abrir_modal_personal();">Agregar</button>
						</div>
					</li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>Cédula</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Dirección</th>
									<th>Movil</th>
									<th>Ocupación</th>
									<th>Correo</th>
									<th>Sexo</th>
									<th>Status</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>

<!--MODAL REGISTRAR PERSONAL-->
<!-- Modal -->
<div class="modal fade" id="Registrar_personal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Registrar Personal</h5>
				<button type="button" class="close" onclick="cerrar_modal_personal();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="" method="post" id="form_personal"> {% csrf_token %}
				<input type="hidden" name="action" value="agregar_personal">
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
			                <label>Cédula de Identidad</label>
			                {{form.cedula|add_class:'form-control'|attr:'placeholder:Ingrese Cédula de Identidad'|attr:'onkeypress:return Solo_Numero_ci(event);'|attr:'maxlength:8'|attr:'minlength:8'}}
			            </div>
						<!-- /.row -->
						<div class="row g-2 mt-2">
			                <div class="col">
			                    <label>Nombres</label>
			                    {{form.nombre|add_class:'form-control'|attr:'placeholder:Ingrese Nombres'|attr:'onkeypress:return Solo_Texto(event);'}}
			                </div>
			                <div class="col">
			                    <div class="form-group">
			                        <label>Apellidos</label>
			                        {{form.apellido|add_class:'form-control'|attr:'placeholder:Ingrese Apellidos'|attr:'onkeypress:return Solo_Texto(event);'}}
			                    </div>
			                </div>
			            </div>
						<div class="row">
			                <label>Dirección</label>
			                {{form.direccion|add_class:'form-control'|attr:'style:resize:none'|attr:'rows:4'|attr:'placeholder:Ingrese Dirección Habitacional'|attr:'onkeypress:return Texto_Numeros(event);'}}
			            </div>
			            <div class="row">
			                <label>Correo Electrónico</label>
			                {{form.correo|add_class:'form-control'|attr:'placeholder:Ingrese su correo electrónico'|attr:'type:email'}}
			            </div>
			            <div class="row g-2 mt-2">
			                <div class="col">
			                    <label>Movil</label>
			                    {{form.movil|add_class:'form-control'|attr:'placeholder:Ingrese Número de celular'|attr:'onkeypress:return Solo_Numero_ci(event);'|attr:'maxlength:11'|attr:'minlength:11'}}
			                </div>
			                <!-- /.col -->
			                <div class="col">
			                    <label>Ocupación</label>
			                    {{form.ocupacion|add_class:'form-control'|attr:'placeholder:Ingrese la ocupación'}}
			                </div>
			            </div>
			            <div class="row g-2 mt-2">
			                <div class="col">
			                    <label>Sexo</label>
			                    {{form.sexo|add_class:'form-control'|attr:'placeholder:Seleccione un genero'}}
			                </div>
			                <div class="col">
			                    <label>Estado</label>
			                    {{form.status|add_class:'form-control'|attr:'placeholder:Seleccione el estado'}}
			                </div>
			            </div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_personal();">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!--MODAL DETALLES DEL PERSONAL-->
<!-- Modal -->
<div class="modal fade" id="Detalle_personal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Detalles del Personal</h5>
				<button type="button" class="close" onclick="cerrar_modal_detalle();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fas fa-address-card"></i>
								<label>Cédula de Identidad</label><br>
							<p> <span id="ci"></span> </p>
							</div>
						</div>
						<!-- /.row -->
						<div class="row">
							<div class="col">
								<i class="fas fa-signature"></i>
								<label>Nombres y Apellidos</label>
								<p> <span id="nom"></span> <span id="ape"></span></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-map-marked-alt"></i>
								<label>Dirección</label>
								<p id="dir"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-mobile"></i>
								<label>Movil</label>
								<p id="mov"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-users"></i>
								<label>Ocupación</label>
								<p id="ocu"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-envelope-open"></i>
								<label>Correo</label>
								<p id="email"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-venus-mars"></i>
								<label>Sexo</label>
								<p id="sex"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-users-cog"></i>
								<label>Estado</label>
								<p id="sta"></p>
							</div>
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_detalle();">Cerrar</button>
				</div>

		</div>
	</div>
</div>


{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'personal/js_personal.js' %}"></script>
{% endblock %}