{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Agregar Personal {% endblock %}
{% block link %}
<!--DATERANGEPICKER-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Agregar Personal</strong></h3>
			</div><!-- /.card-header -->
			<div class="card-body">
				<form action="" method="POST" id="form_personal"> {% csrf_token %}
                    <input type="hidden" name="action" value="agregar_personal">
                    <input type="hidden" name="id" value="0">
                    <div class="modal-body">
                        <div class="card-body">
                            <label for="">Cedula de Identidad</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    {{form.tipo_ci|add_class:'form-control text-center'|attr:'required'}}
                                </div>
                                <!-- /btn-group -->
                                {{form.cedula|add_class:'form-control'|attr:'placeholder:Ingrese Cédula de Identidad'|attr:'onkeypress:return Solo_Numero_ci(event);'|attr:'maxlength:8'|attr:'minlength:8'}}
                            </div>
                            <div class="row g-2 mt-2 div delete">
                                <div class="col">
                                    <label>Nombres</label>
                                    {{form.nombre|add_class:'form-control'|attr:'placeholder:Ingrese Nombres'|attr:'onkeypress:return Solo_Texto(event);'}}
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        {{form.apellido|add_class:'form-control'|attr:'placeholder:Ingrese Apellidos'|attr:'onkeypress:return Solo_Texto(event);'}}
                                    </div>
                                </div>
                            </div>
                            <div class="row div delete mt-2">
                                <label for="id_fecha_nacimiento">Fecha de Nacimiento</label>
                                {{form.fecha_nacimiento|add_class:'form-control fecha'|attr:'required'|attr:'placeholder:Ingrese fecha de nacimiento'|attr:'onkeypress:return Solo_Numero_ci(event);'|attr:'maxlength:10'}}
                            </div>
                            <div class="row mt-2">
                                <label>Dirección</label>
                                {{form.direccion|add_class:'form-control'|attr:'style:resize:none'|attr:'rows:4'|attr:'placeholder:Ingrese Dirección Habitacional'|attr:'onkeypress:return Texto_Numeros(event);'}}
                            </div>
                            <div class="row mt-2">
                                <label>Correo Electrónico</label>
                                {{form.correo|add_class:'form-control'|attr:'placeholder:Ingrese su correo electrónico'|attr:'type:email'}}
                            </div>
                            <div class="row g-2 mt-2">
                                <div class="col">
                                    <label>Movil</label>
                                    {{form.movil|add_class:'form-control'|attr:'placeholder:Ingrese Número de celular'|attr:'onkeypress:return Solo_Numero_ci(event);'|attr:'maxlength:11'|attr:'minlength:11'}}
                                </div>
                                <!-- /.col -->
                                <div class="col">
                                    <label>Sexo</label>
                                    {{form.sexo|add_class:'form-control'|attr:'placeholder:Seleccione un genero'}}
                                </div>
                                
                            </div>
                            <div class="row g-2 mt-2 div delete">
                                
                                <div class="col">
                                    <label>Estado</label>
                                    {{form.status|add_class:'form-control'|attr:'placeholder:Seleccione el estado'}}
                                </div>
                                <div class="col div delete">
                                    <label>Ocupación</label>
                                    {{form.ocupacion|add_class:'form-control'|attr:'placeholder:Ingrese la ocupación'}}
                                </div>
                            </div>
                            <div class="row mt-2 div delete">
                                <label for="">Rol en el sistema</label>
                                <select name="rol_sistema" id="id_rol_sistena" class="form-control" required>
                                    <option value="">--Seleccione un elemento--</option>
                                    <option class="sel" value="Administrador">Administrador</option>
                                    <option class="sel" value="Enfermero/a coordinador/a PAI">Enfermero/a coordinador/a PAI</option>
                                    <option class="sel" value="Coordinador/a de cuarto frio">Coordinador/a de cuarto frio</option>
                                    <option class="sel" value="Coordinador/a de division estrategica">Coordinador/a de division estrategica</option>
                                    <option class="sel" value="Transcriptor">Transcriptor</option>
                                    <option value="Sin acceso">Sin acceso</option>
                                </select>
                            </div>
                            <div class="row g-2 mt-2 rol rol_sis">
                                <div class="col">
                                    <label for="Permisos">Permisos</label>
                                    {{form2.groups|add_class:'form-control'}}
                                </div>
                                <div class="col">
                                    <label for="">Contraseña</label>
                                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Ingresa la contraseña" minlength="6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'list_personal' %}" class="btn btn-secondary">Cerrar</a>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>
<style>
	.ocult{
		display: none;
	}
    .rol{
        display: none;
    }
    .delete{
        display: block;
    }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'personal/personal_form.js' %}"></script>
<!--DATERANGEPICKER-->
<script type="text/javascript" src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/js/i18n/es.js' %}"></script>
<script>
	$("#id_ocupacion").change(function(){
      var estado = $("#id_ocupacion").val();
      if (estado == "Obrero" ){
		$(".sel").addClass('ocult');
	  }else{
		$(".sel").removeClass('ocult');
	  }
    });
    $("#id_rol_sistena").change(function(){
      var rol = $("#id_rol_sistena").val();
      if (rol !== "Sin acceso" ){
		$(".rol_sis").removeClass('rol');
	  }else{
		$(".rol_sis").addClass('rol');
        $("#id_password").val('');
        $("#id_groups").val(null);
	    $("#id_groups").change();
	  }
    });
</script>
<script>
	$(function () {
	  $('#id_groups').select2({
		  placeholder: 'Seleccione los permisos',
		  theme:'bootstrap4',
		  language: "es",
		  maximumSelectionLength: 1
	  });
	  
	  $('#btn-back').click(function () {
		  window.history.back();
	  });
	  
	});
	{% if form.errors %}
	  {% for key, value in form.errors.items %}

		function ErrorForm(FormError) {
			toastr.warning(FormError)
		}
		ErrorForm('{{ value }}')

	  {% endfor %}
	{% endif %}
  </script>
{% endblock %}