{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Editar Reposo {% endblock %}

{% block link %}
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!--DATERANGEPICKER-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block content %}

<div class="card card-default mt-3">
    <div class="card-header">
         <h3 class="card-title">Editar Reposo</h3>
    </div>
    <form action="" method="post"> {% csrf_token %}
        <div class="card-body">
            <div class="row g-2">
                <div class="col">
                    <label>Solicitante</label>
                    {{form.personal|add_class:'form-control'}}
                </div>
                <div class="col">
                    <label for="">Tipo de Reposo</label>
                    {{form.tipo_reposo|add_class:'form-control'}}
                </div>
            </div>
            <!-- /.row -->
            <div class="row g-2 mt-2">
                <div class="col">
                    <label>Motivo del reposo</label>
                    {{form.motivo_reposo|add_class:'form-control'|attr:'placeholder:Motivo del reposo'}}
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Duración del reposo</label>
                        {{form.duracion|add_class:'form-control'|attr:'placeholder:Duración del reposo'}}
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="">Fecha de inicio</label>
                {{form.fecha_inicio|add_class:'form-control'|attr:'type:text'|attr:'maxlength:10'|attr:'minlenght:10'|attr:'readonly'}}
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a href="{% url 'list_reposos' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/js/i18n/es.js' %}"></script>

<!--DATERANGEPICKER-->
<script type="text/javascript" src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>

<script type="text/javascript">
    $(function(){
        $('#id_personal').select2({
            placeholder: 'Seleccione al Solicitante',
            theme:'bootstrap4',
            language: "es",
            allowClear: true,
        });
        $('#id_tipo_reposo').select2({
            placeholder: 'Seleccione el tipo de reposo',
            theme:'bootstrap4',
            language: "es",
            allowClear: true,
        });
        // daterangepicker
        var fecha = new Date();
        var anno = fecha.getFullYear();
        $('#id_fecha_inicio').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: false,
            showDropdowns: true,
            minYear: 1901,
            maxDate: fecha,
            maxYear: anno,
            drops: 'up',
            "locale": {
                "format": "YYYY-MM-DD",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "De",
                "toLabel": "a",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Do",
                    "Lu",
                    "Ma",
                    "Mi",
                    "Ju",
                    "Vi",
                    "Sa"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Deciembre"
                ],
                "firstDay": 1
                }
            });

    });
</script>

{% endblock %}