{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block link %}
<!--SELECT2-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!--DATERANGEPICKER-->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block title %}Listado de los Reposos {% endblock %}
{% block content %}
<div class="row mt-5">
	<div class="col-12">
		<!-- Custom Tabs -->
		<div class="card ">
			<div class="card-header d-flex p-0">
				<h3 class="card-title p-3"><strong>Listado de los Reposos</strong></h3>
				<ul class="nav nav-pills ml-auto p-2">

					<li class="nav-item dropdown mr-5">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
							Opciones <span class="caret"></span>
						</a>
						<div class="dropdown-menu" style="">
							<button class="dropdown-item" tabindex="-1" onclick="abrir_modal_reposos();">Agregr</button>
						</div>
					</li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<table id="table" class="table" style="width:100%">
							<thead>
								<tr>
									<th>C.I Solicitante</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Motivo</th>
									<th>Duración</th>
									<th>Fecha Inicio</th>
									<th>Estado</th>
									<th>Opciones</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>
		<!-- ./card -->
	</div>
	<!-- /.col -->
</div>



<!--MODAL REGISTRAR REPOSOS-->
<!-- Modal -->
<div class="modal fade" id="Registrar_reposos" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Registrar Reposos</h5>
				<button type="button" class="close" onclick="cerrar_modal_reposos();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="" method="post" id="form_reposos"> {% csrf_token %}
				<input type="hidden" name="action" value="agregar_reposos">
				<input type="hidden" name="id" value="0">
				<div class="modal-body">
					<div class="card-body">
						<div class="row ">
							<div class="col">
								<label>Solicitante</label>
								{{form.personal|add_class:'form-control'}}
							</div>
						</div>
						<!-- /.row -->
						
						<div class="row g-2 mt-2">
							<div class="col">
								<label>Motivo del reposo</label>
								{{form.motivo_reposo|add_class:'form-control'|attr:'placeholder:Motivo del reposo'|attr:'style:resize:none'|attr:'rows:4'}}
							</div>
							
						</div>
						<div class="row g-2 mt-2">
							<div class="col">
								<label for="">Fecha de inicio</label>
								{{form.fecha_inicio|add_class:'form-control'|attr:'type:text'|attr:'readonly'}}
							</div>
							<div class="col">
								<div class="form-group">
									<label>Duración del reposo</label>
									{{form.duracion|add_class:'form-control'|attr:'placeholder:Duración del reposo'}}
								</div>
							</div>
						</div>
						<div class="row ">
							<div class="col">
								<label>Estado</label>
								{{form.status|add_class:'form-control'}}
							</div>
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_reposos();">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!--MODAL DETALLES DEL REPOSO-->
<!-- Modal -->
<div class="modal fade" id="Detalles_reposo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Detalles del Reposo</h5>
				<button type="button" class="close" onclick="cerrar_modal_detalle();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
				<div class="modal-body">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<i class="fas fa-address-card"></i>
								<label>Cédula de Identidad del Solicitante</label><br>
							<p> <span id="ci"></span></p>
							</div>
						</div>
						<!-- /.row -->
						<div class="row">
							<div class="col">
								<i class="fas fa-signature"></i>
								<label>Nombres y Apellidos</label>
								<p> <span id="nom"></span> <span id="ape"></span></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-file-medical-alt"></i>
								<label>Motivo del Reposo</label>
								<p id="mot"></p>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-clock"></i>
								<label>Duración</label>
								<p id="dur"></p>
							</div>
							<!-- /.col -->
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-calendar-week"></i>
								<label>Fecha de Inicio</label>
								<p id="fec"></p>
							</div>
							<!-- /.col -->
						</div>
						<div class="row">
							<div class="col">
								<i class="fas fa-question"></i>
								<label>Estado</label>
								<p id="est"></p>
							</div>
							<!-- /.col -->
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" onclick="cerrar_modal_detalle();">Cerrar</button>
				</div>

		</div>
	</div>
</div>


{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/select2/js/i18n/es.js' %}"></script>

<!--DATERANGEPICKER-->
<script type="text/javascript" src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'reposos/js_reposos.js' %}"></script>

{% endblock %}